.imageContainer {
    height: auto;
    max-width: 50%;
    padding-top: 15px;
    border-radius: 15px;
    position: relative;
    top: 27px;
    margin-bottom: 18px;
    background-color: rgba(77, 75, 75, 80%);
    text-align: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 60%);
    
}

.imageContainer:last-of-type {
    margin-bottom: 50px;
}

.imageContainer h3 {
    text-shadow: 2px 2px rgba(0, 0, 0, 60%);
}

.imageContainer .image {
    object-fit:fill;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 25%)
}

.link-details {
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    object-position: center;
    
}

.link-details:hover{
    text-decoration: none;
    color:darkgray
}

.image-details {
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    
}

#detailsContainer {
    max-width: 75%;
    color: aliceblue;
}

#descriptionParagraph {
    padding-block: 10px;
}

#likeButton {
left:auto
}

/* #likesParagraph {
    position:fixed;
    display: flex;
} */