#uploadContainer {
    display: flex;
    height: 350px;
    max-width: 466px;
    padding-top: 15px;
    border-radius: 15px;
    position: relative;
    top: 160px;
    background-color: rgb(77, 75, 75);
}