#uploadContainer {
    height: 38vh;
    max-width: 35vw;
    padding-top: 1em;
    border-radius: 1em;
    background-color: rgb(77, 75, 75);
}
.upload-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    align-items: center;

}
#custom-file {
    border-color: antiquewhite;
    border-style: solid;
    border-radius: 6px;
    margin-bottom: 19px;
}
.form-file-label {
    color: aliceblue;
    font-weight: bold;
}
#imageName {
    margin-bottom: 19px;
}

#imageDescr {
    margin-bottom: 19px;

}